# smart contracts
smart contracts/node_modules
smart contracts/artifacts
smart contracts/cache
smart contracts/out
smart contracts/.env
smart contracts/contracts/Advanced

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
.env
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.env

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
